@use "/src/sass/base/variables.scss" as *;

.form {
    position: relative;
    width: 100%;
    margin: 2em auto;
    padding-bottom: 60px;

    &__title {
        padding: 10px 0 25px;
        text-align: center;
        text-transform: uppercase;
        font-weight: 500;
        font-size: $font-size-l;
    }

    &__content {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
    }

    &__background-img {
        display: none;
    }

    &__img {
        display: none;
    }
}

.contact-form {
    width: 99%;
    display: flex;
    flex-direction: column;
}

.form-group {
    padding-top: 5px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.form-group label {
    font-weight: 400;
    font-size: 14px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    max-width: 340px;
    padding: 10px 15px;
    border: 1px solid #E2E1E5;
    border-radius: 2px;
    font-size: 14px;
    background: transparent;
    transition: border-color 0.3s ease;
    box-sizing: border-box;
}

.form-group input {
    height: 48px;
}

.form-group input:focus,
.form-group textarea:focus {
    border-color: #000;
    outline: none;
}

.form-group textarea {
    height: 160px;
    resize: vertical;
}

.checkbox-group {
    display: flex;
    gap: 15px;
    padding: 16px 0;
}

.checkbox-group input {
    width: 18px;
    height: 18px;
}

.checkbox-group label {
    margin-bottom: 0;
    font-weight: 400;
    font-size: 14px;
}

.submit-btn {
    width: 100%;
    max-width: 340px;
    padding: 15px;
    background: #000;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease;
    text-transform: uppercase;
}

.submit-btn:hover {
    background: #333;
}

@media (min-width: 767px) {
    .form {
        padding: 0 2em;

        &__img {
            display: block;
            height: 85px;
            width: 85px;
            position: absolute;
            right: 1em;
            bottom: 0;
        }
    }
}

@media (min-width: 1200px) {
    .form {
        width: 1200px;
        margin: auto;

        &__content {
            gap: 1em;
            justify-content: space-evenly;
        }

        &__background-img {
            display: block;
            width: 550px;
            height: 341px;
            box-shadow: 1px 1px 10px 10px rgba(0, 0, 0, 0.1);
        }
    }
}

@media (min-width: 1900px) {
    .form {
        width: 1440px;
        padding: 20px 0;

        &__content {
            justify-content: space-between;
        }
    }

    .contact-form {
        width: 700px;
    }

    .form-group input,
    .form-group textarea {
        min-width: 340px;
    }
}