@use "/src/sass/base/variables.scss" as *;

.about-story {
  display: flex;
  flex-direction: column;
  gap: 2em;
  padding: 20px;
  margin: auto;
  
  &__image {
    width: 600px;
    margin: auto;
    height: auto;
    object-fit: cover;
  }
  
  &__paragraph {
    font-weight: 400;
    font-size: 16px;
  }
  
  &__content {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
}

@media (min-width: 767px) {
  .about-story {
    max-width: 720px;
  }
}

@media (min-width: 1200px) {
  .about-story {
    margin: auto;
    flex-direction: row;
    justify-content: center;
    max-width: 1140px;
    align-items: center;
    gap: 3em;
    
    &__image {
      width: 500px;
      height: 400px;
      margin: 0;
      flex-shrink: 0;
    }
    
    &__content {
      flex: 1;
      max-width: 500px;
    }
  }
}

@media (min-width: 1900px) {
  .about-story {
    max-width: 1440px;
  }
}
